* {
    border: none;
    border-radius: 3;
    font-family: "FiraCode Nerd Font Propo";
    font-size: 15px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: #272727;
    color: #ebdbb2;
}

#window {
    font-weight: bold;
    font-family: "FiraCode Nerd Font Propo";
    padding: 0 20px;
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
    padding: 5 5px;
    background: #ebdbb2;
    color: #272727;
    margin: 0 2px;
}

#workspaces button.active{
    color: #272727;
    background: #83a597;
}

#mode {
    background: #272727;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode, #idle_inhibitor {
    padding: 0 3px;
    margin: 0 2px;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #272727;
        color: #ebdbb2;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
}

#idle_inhibitor {
}

